В ваш заказ будут входить следующие блюда:
<% @filtered.each do |item|%>
<p><%= item.id%> - <%= item.name%></p>
<% end %>

<ul><h3> Исключены игридиенты:</h3>
<% @allergies.each do |alergen|%>
<li><%= alergen.name %></li>
<%end%>
</ul>

<%= button_to 'Sumbit', orders_path, method: :post%>